* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 700;
}

body {
  background-color: #333;
  color: aliceblue;
  font-family: sans-serif;
}

.app {
  width: 400px;
  margin: 20px auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 16px;
  display: block;

  padding: 6px 12px;
}
